---
services:

applications:
- name: config-server
  domain: petstore
  path: ./target/config-server.jar
  buildpack: java-buildpack-v3_11_custom
  memory: 256M
  env:
    spring_profiles_active: cloud
