---
services:
- discovery-service
applications:
- name: config-server
  host: petstore-config-server
  domain: mybluemix.net
  path: ./target/config-server.jar
  buildpack: liberty-for-java
  memory: 256M
  env:
    spring_profiles_active: cloud
