table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	margin-top: 100px;
}

th, td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #3f51b5;
    color: white;
}