<mat-toolbar color="primary">
  <span>
  	<div *ngIf="user.authorities.includes('ROLE_ADMIN')">
  	  <button mat-fab color="accent" (click)="openDialog()">Add</button>
  	</div>
  </span>
  <span class="example-spacer"></span>
  
  <div *ngIf="user">
	  <span>Hey {{user.name}}! Welcome to Petstore</span>
  </div>

  <span class="example-spacer"></span>
  <span>
 	<mat-form-field color="primary" class="example-full-width">
      <input matInput placeholder="Search" (keyup)="triggerSearch($event)">
    </mat-form-field>
 </span>
</mat-toolbar>
